
// Define defaults for reference data
params {
    genomes {
        'GRCh38' {
            hisat2 = "${baseDir}/data/reference/indexes/hisat2/GRCh38/"
            salmon = "${baseDir}/data/reference/indexes/salmon/GRCh38/"
            genome = "${baseDir}/data/reference/sequence/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
            genome_url = "ftp://ftp.ensembl.org/pub/release-87/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
            transcriptome = "${baseDir}/data/reference/sequence/GRCh38/Homo_sapiens.GRCh38.cdna.all.fa"
            transcriptome_url = "ftp://ftp.ensembl.org/pub/release-87/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
        }
    }
}

// Parameters for job execution
process {
    container = 'quay.io/jaeddy/seqcheck'

    // Environment modules and resource requirements
    $make_hisat2_index {
        cpus = 10
        memory = 60.GB
        time = 5.h
    }
    $make_salmon_index {
          cpus = 10
          memory = 60.GB
          time = 5.h
    }
    $fastqc {
        memory = 4.GB
        time = 8.h
    }
    $hisat2_align {
        cpus = 8
        memory = 60.GB
        time = 8.h
    }
    $salmon_quant {
        cpus = 10
        memory = 60.GB
        time = 8.h
    }
    $multiqc {
        cpus = 4
        memory = 32.GB
        time = 8.h
    }
}
docker.enabled = true

cloud {
    imageId = 'ami-7d87ee6b' // ami-7d87ee6b
    sharedStorageId = 'fs-d8c87691' // ami-7d87ee6b
    sharedStorageMount = '/efs'
    instanceType = 'm4.xlarge'
    userName = 'ec2-user'
    keyFile = "$HOME/.ssh/sage_ec2_rsa.pub"
    autoscale {
        enabled = true
        spotPrice = 1.00
        minInstances = 1
        maxInstances = 10
        imageId = 'ami-7d87ee6b'
        instanceType = 'r4.4xlarge'
        terminateWhenIdle = true
    }
}
