
// Define defaults for reference data
params {
  genomes {
    'GRCh38' {
      fasta = "${baseDir}/data/reference/sequence/GRCh38/Homo_sapiens.GRCh38.cdna.all.fa"
      fasta_url = "ftp://ftp.ensembl.org/pub/release-87/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
      salmon = "${baseDir}/data/reference/indexes/salmon/GRCh38/"
    }
  }
}

process.$make_salmon_index.container = 'combinelab/salmon:0.7.1'
process.$salmon_quant.container = 'combinelab/salmon:0.7.1'
docker.enabled = true
