
// Define defaults for reference data
params {
    genomes {
        'GRCh38' {
            hisat2 = "${baseDir}/data/reference/indexes/hisat2/GRCh38/"
            salmon = "${baseDir}/data/reference/indexes/salmon/GRCh38/"
            genome = "${baseDir}/data/reference/sequence/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
            genome_url = "ftp://ftp.ensembl.org/pub/release-87/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
            transcriptome = "${baseDir}/data/reference/sequence/GRCh38/Homo_sapiens.GRCh38.cdna.all.fa"
            transcriptome_url = "ftp://ftp.ensembl.org/pub/release-87/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
        }
    }
}

// process.$make_salmon_index.container = 'combinelab/salmon:0.7.1'
// process.$salmon_quant.container = 'combinelab/salmon:0.7.1'
// process.$make_kallisto_index = 'quay.io/biocontainers/kallisto:0.43.0--1'
// docker.enabled = true

// cloud {
//     imageId = 'ami-43f49030'
//     sharedStorageId = 'fs-1803efd1'
//     sharedStorageMount = '/mnt/shared'
//     instanceType = 'm4.xlarge'
//     subnetId = 'subnet-05222a43'
//     userName = 'the-user-name'
//     keyFile = '/path/to/ssh/key.pub'
//     autoscale {
//         enabled = true
//         spotPrice = 0.15
//         minInstances = 5
//         maxInstances = 10
//         imageId = 'ami-yyy'
//         instanceType = 'm4.4xlarge'
//         terminateWhenIdle = true
//     }
// }
